# Base de Datos PostgreSQL
# Para desarrollo local:
# DATABASE_URL=postgresql://usuario:contraseña@localhost:5432/nombre_base_datos
# Para Neon (Cloud):
DATABASE_URL=postgresql://neondb_owner:tu_password@tu-proyecto.neon.tech/neondb?sslmode=require

# JWT
JWT_SECRET=tu_secreto_super_seguro_aqui
JWT_EXPIRES_IN=7d

# Servidor
PORT=3000
NODE_ENV=development

# CORS
CORS_ORIGIN=http://localhost:5173
